.footer{
    padding: 1% 10%;
    background-color:  blueviolet;
    height: 100px;
    font-weight: 600;
    font-size: 30px;
    padding-top: 20px;
    color: white;
}
.more-info{
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-left: 100px;
}
